In [24]:
import pandas as pd
import copy

from dp import subset_sum_DP

set = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
target = 13
target_names = copy.copy(wt)
target_names.insert(0,0)

result = subset_sum_DP(set=set, target=target)
print(result)

df = pd.DataFrame(result[3], index=wt_names)
df

(True, 13, [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [0, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], [0, 1, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], [0, 1, 2, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], [0, 1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5], [0, 1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 6, 6, 6], [0, 1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 7, 7, 7], [0, 1, 2, 3, 4, 5, 6, 7, 8, 8, 8, 8, 8, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 9, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 11], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 12], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]])

   0   1   2   3   4   5   6   7   8   9   10  11  12  13
0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
1   0   1   1   1   1   1   1   1   1   1   1   1   1   1
1   0   1   2   2   2   2   2   2   2   2   2   2   2   2
1   0   1   2   3   3   3   3   3   3   3   3   3   3   3
1   0   1   2   3   4   4   4   4   4   4   4   4   4   4
1   0   1   2   3   4   5   5   5   5   5   5   5   5   5
1   0   1   2   3   4   5   6   6   6   6   6   6   6   6
1   0   1   2   3   4   5   6   7   7   7   7   7   7   7
1   0   1   2   3   4   5   6   7   8   8   8   8   8   8
1   0   1   2   3   4   5   6   7   8   9   9   9   9   9
1   0   1   2   3   4   5   6   7   8   9  10  10  10  10
1   0   1   2   3   4   5   6   7   8   9  10  11  11  11
1   0   1   2   3   4   5   6   7   8   9  10  11  12  12
1   0   1   2   3   4   5   6   7   8   9  10  11  12  13