# Functions presentation

## Generators
* Generating whole set from the file (loading set from the file)
* Generating set from the file (based on size, target and optional boundary)
* Generating set by using function parameters (size, target and optional boundary)

In [1]:
import functions.dataset_generation as generators

# whole data set from the file, set generated based on the file and set generated based on function parameters
set_read = generators.get_dataset_from_file('data_inputs/examples/input_data_set.csv')
set_generated_from_file = generators.generate_set_from_file('data_inputs/examples/input_generate_data.csv')
set_generated_from_function = generators.generate_set(10, 30)

# returned tuple (set, target) for each generator

print(set_read)
print(set_generated_from_file)
print(set_generated_from_function)

([1, 4, 56, 7, 12, 43, 4, 5, 63, 1], 12)
([149, 142, 165, 137, 82, 15, 197, 64, 130, 81, 19, 88, 177, 153, 57, 49, 59, 19, 204, 116], 412)
([9, 5, 12, 11, 7, 4, 7, 12, 4, 6], 30)

## Subset sum algorithms
* Generating whole set from the file (loading set from the file)
* Generating set from the file (based on size, target and optional boundary)
* Generating set by using function parameters (size, target and optional boundary)

### Brute force algorithm

In [2]:
# Brute force algorithm
from functions.bf import subset_sum_BF

output = subset_sum_BF(set=set_read[0], target=set_read[1], n=len(set_read[0]))

print('Brute force algorithm:')
print(f'\tDoes subset exist: {output[0]}')
print(f'\tSum: {output[1]}')
print(f'\tSubset: {output[2]}')

Brute force algorithm:
	Does subset exist: True
	Sum: 12
	Subset: [7, 4, 1]

### Dynamic programming algorithm

In [3]:
# Dynamic programming algorithm
from functions.dp import subset_sum_DP
import pandas as pd
import copy

output = subset_sum_DP(set=set_read[0], target=set_read[1])

target_names = copy.copy(set_read[0])
target_names.insert(0,0)
table_df = pd.DataFrame(output[3], index=target_names)

print('Dynamic programming algorithm:')
print(f'\tDoes subset exist: {output[0]}')
print(f'\tSum: {output[1]}')
print(f'\tSubset: {output[2]}')
print()
print('Algorithm table:')
table_df

Dynamic programming algorithm:
	Does subset exist: True
	Sum: 12
	Subset: [7, 4, 1]

Algorithm table:

    0   1   2   3   4   5   6   7   8   9   10  11  12
0    0   0   0   0   0   0   0   0   0   0   0   0   0
1    0   1   1   1   1   1   1   1   1   1   1   1   1
4    0   1   1   1   4   5   5   5   5   5   5   5   5
56   0   1   1   1   4   5   5   5   5   5   5   5   5
7    0   1   1   1   4   5   5   7   8   8   8  11  12
12   0   1   1   1   4   5   5   7   8   8   8  11  12
43   0   1   1   1   4   5   5   7   8   8   8  11  12
4    0   1   1   1   4   5   5   7   8   9   9  11  12
5    0   1   1   1   4   5   6   7   8   9  10  11  12
63   0   1   1   1   4   5   6   7   8   9  10  11  12
1    0   1   2   2   4   5   6   7   8   9  10  11  12